github "aventurella/ZipArchive" "new"
# github "Alamofire/Alamofire"
github "SwiftyJSON/SwiftyJSON"
# github "ReactiveCocoa/ReactiveCocoa" "v3.0-RC.1"

# original forked version has issues as well
# github "ZipArchive/ZipArchive" "master"
